*{
    margin:0;
    padding:0;
}
body{
    font-family:helvetica;
    background: url(starry.jpg) repeat;
    
}
.main{
    background:#171717;
    width:1030px;
    min-height:600px;
    margin:40px;
    margin-left:280px;
    border:15px solid;
    padding:50px;
    color:white;
    line-height:1.7;
    font-size:19px;
    box-sizing:border-box; 
}
.wrapper-mains{
    display:flex;
    flex-direction: column;

}
.head-sidebar{
    background:#000000;
    width:19%;
    height:100%;
    position:fixed;
}
.Charlz{
    color:aliceblue;
    margin-left:40px;   
}
.human{
   color:white;
    font-size:18px;
     padding-bottom:10px;
        padding-left:30px; 
    
}
.map-sidebar{
    padding:10px;
}
